@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5kp7k4');
  src:  url('fonts/icomoon.eot?5kp7k4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5kp7k4') format('truetype'),
    url('fonts/icomoon.woff?5kp7k4') format('woff'),
    url('fonts/icomoon.svg?5kp7k4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-user:before {
  content: "\f007";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-home:before {
  content: "\f015";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-share-alt:before {
  content: "\f1e0";
}
.icon-at:before {
  content: "\f1fa";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-telegram:before {
  content: "\f2c6";
}
.icon-x:before {
  content: "\e901";
}
